#### Insert The necessary Libriries

In [3]:
import pandas as pd 
import numpy as np

#### Import The DataSet

In [4]:
houses=pd.read_csv('HouseData.csv',sep=',')

In [5]:
houses.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long
0,629000615,20141022T000000,"1,495,000",4,3.25,3070,10375,2.0,No,No View,Average,10,1962,98004,47.5862,-122.198
1,4141800215,20141126T000000,"1,495,000",4,3.75,3770,4000,2.5,No,No View,Very Good,9,1916,98122,47.6157,-122.287
2,6448000020,20150129T000000,"1,490,000",4,2.50,2420,18480,1.0,No,No View,Good,9,1967,98004,47.6214,-122.227
3,9522300010,20150331T000000,"1,490,000",3,3.50,4560,14608,2.0,No,Average,Average,12,1990,98034,47.6995,-122.228
4,31000165,20140911T000000,"1,490,000",5,3.50,3620,7821,2.0,No,Average,Average,10,1958,98040,47.5738,-122.215

#### Data Inderstanding

In [6]:
houses.shape

(21060, 16)

In [7]:
houses.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'yr_built', 'zipcode', 'lat', 'long'],
      dtype='object')

In [8]:
houses.dtypes

id               int64
date            object
price           object
bedrooms         int64
bathrooms      float64
sqft_living      int64
sqft_lot         int64
floors         float64
waterfront      object
view            object
condition       object
grade            int64
yr_built         int64
zipcode          int64
lat            float64
long           float64
dtype: object

In [9]:
houses.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,grade,yr_built,zipcode,lat,long
count,2.106000e+04,21060.000000,21060.000000,21060.000000,2.106000e+04,21060.000000,21060.000000,21060.000000,21060.000000,21060.000000,21060.000000
mean,4.591327e+09,3.343162,2.077991,2019.486942,1.474301e+04,1.484924,7.590123,1970.919943,98078.383761,47.558542,-122.213544
std,2.877902e+09,0.882395,0.729351,822.018441,3.995697e+04,0.538113,1.095947,29.265667,53.406460,0.139776,0.141789
min,1.000102e+06,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,1900.000000,98001.000000,47.155900,-122.519000
25%,2.125057e+09,3.000000,1.500000,1410.000000,5.001000e+03,1.000000,7.000000,1951.000000,98033.000000,47.465700,-122.330000
50%,3.905030e+09,3.000000,2.250000,1890.000000,7.553500e+03,1.000000,7.000000,1975.000000,98065.000000,47.569200,-122.231000
75%,7.334500e+09,4.000000,2.500000,2490.000000,1.045400e+04,2.000000,8.000000,1996.000000,98118.000000,47.678925,-122.123000
max,9.900000e+09,7.000000,6.750000,7480.000000,1.651359e+06,3.500000,12.000000,2015.000000,98199.000000,47.777600,-121.315000

#### Data Preparation

In [10]:
#change the type of date 
houses['date']=pd.to_datetime(houses['date'])

In [11]:
#see the duplicated value
houses.loc[houses.duplicated()]

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, yr_built, zipcode, lat, long]
Index: []

In [12]:
#see the null value 
houses.isna().count()

id             21060
date           21060
price          21060
bedrooms       21060
bathrooms      21060
sqft_living    21060
sqft_lot       21060
floors         21060
waterfront     21060
view           21060
condition      21060
grade          21060
yr_built       21060
zipcode        21060
lat            21060
long           21060
dtype: int64

In [13]:
# see the unique value 
houses.nunique()

id             20887
date             372
price           3748
bedrooms           8
bathrooms         26
sqft_living      942
sqft_lot        9518
floors             6
waterfront         2
view               5
condition          5
grade             11
yr_built         116
zipcode           70
lat             5026
long             752
dtype: int64

In [16]:
houses.to_csv('HouseDataFinal.csv')