# Introduction

### Step 1.Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2.import the DataSet

In [4]:
cars = pd.read_csv('car_dataset.csv')
cars.head()

,Name,Make,Colour,Mileage,Initial Price,Saftey Index,Saftey Classification,Engine Type,Seating Capacity,Seat Classification,Varient,Car Type
0,Harrier,Tata,Crome/ Silver,22,950000,4.5,Good,Petrol,5,5 seater,Mid,Fuel Efficient
1,i20,Hundai,White,20,975000,4.0,Good,Diesel,4,4 seater,Mid,Power and fuel efficient
2,Creta,Hundai,White,19,1475000,4.5,Good,Diesel,5,5 seater,Mid,Power and fuel efficient
3,Harrier,Tata,Mat black,22,900000,4.5,Good,Diesel,5,5 seater,Basic,Fuel Efficient
4,Verna,Hundai,Dark Blue,17,1275000,4.0,Good,Petrol,4,4 seater,Basic,Power

### Step 3 . Data Understanding

In [5]:
cars.shape

(521, 12)

In [6]:
cars.columns

Index(['Name', 'Make', 'Colour', 'Mileage', 'Initial Price', 'Saftey Index',
       'Saftey Classification', 'Engine Type', 'Seating Capacity',
       'Seat Classification', 'Varient', 'Car Type'],
      dtype='object')

In [7]:
cars.dtypes

Name                      object
Make                      object
Colour                    object
Mileage                    int64
Initial Price              int64
Saftey Index             float64
Saftey Classification     object
Engine Type               object
Seating Capacity           int64
Seat Classification       object
Varient                   object
Car Type                  object
dtype: object

In [8]:
cars.describe()

          Mileage  Initial Price  Saftey Index  Seating Capacity
count  521.000000   5.210000e+02    521.000000        521.000000
mean    20.003839   1.242898e+06      4.362764          5.107486
std      3.961835   7.243033e+05      0.449225          1.223159
min     10.000000   4.500000e+05      3.500000          4.000000
25%     17.000000   8.750000e+05      4.000000          4.000000
50%     20.000000   1.025000e+06      4.500000          5.000000
75%     24.000000   1.475000e+06      4.500000          7.000000
max     25.000000   4.050000e+06      5.000000          7.000000

In [9]:
cars.count()

Name                     521
Make                     521
Colour                   521
Mileage                  521
Initial Price            521
Saftey Index             521
Saftey Classification    521
Engine Type              521
Seating Capacity         521
Seat Classification      521
Varient                  521
Car Type                 521
dtype: int64

In [11]:
cars.isna().sum() #ni missing data

Name                     0
Make                     0
Colour                   0
Mileage                  0
Initial Price            0
Saftey Index             0
Saftey Classification    0
Engine Type              0
Seating Capacity         0
Seat Classification      0
Varient                  0
Car Type                 0
dtype: int64

In [12]:
cars.nunique()

Name                     25
Make                      8
Colour                    8
Mileage                  11
Initial Price            32
Saftey Index              4
Saftey Classification     3
Engine Type               2
Seating Capacity          3
Seat Classification       3
Varient                   3
Car Type                  3
dtype: int64

### Step 4 . Data Preparation